* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 20px;
}

iframe {
    display: block;
    margin: 20px auto;
}

audio {
    width: 100%;
}

p a {
    color: red;
    text-decoration: none;
}

p a:hover {
    color: white;
}

nav {
    background-color: black;
    color: white;
    padding-top: 20px;
    box-shadow: 0 20px 20px black;
    text-align: center;
    font-size: 2em;
}

.background {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../res/galaxy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.navButton {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.navLinks {
    display: block;
    position: absolute;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -400px;
    transition: margin-top .4s;
}

.navLinks a {
    display: block;
    width: inherit;
    max-width: 100%;
    min-width: 200px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px red;
    color: black;
    text-decoration: none;
    opacity: 0.98;
    transition: opacity 0.2s;
}

.navLinks a:hover {
    opacity: 0.8;
}

body {
    background-color: black;
    overflow-x: hidden;
}

section {
    background-color: transparent;
    margin: 40px 25% 30px 25%;
    padding: 10px;
    opacity: 1;
}

.googlePlay {
    display: block;
    text-align: center;
}

section p {
    color: floralwhite;
    opacity: 1;
    text-shadow: 0 0 10px black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 -10px 20px black;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    section {
        margin-left: 10%;
        margin-right: 10%;
    }
    .background {
        background-image: url(../res/stars.jpg);
        background-size: auto;
        background-repeat: repeat;   
    }
    iframe {
        width: 100%;
    }
}